<div class="ad-list__items-pagination-container">
    <div class="ad-list__items-container">
        <div>
            {{ arturdoruch_list_displayed_items(pagination) }}
        </div>
        <div>
            {{ arturdoruch_list_items_limit_form(pagination) }}
        </div>
    </div>
    <div class="ad-list__pagination-container">
        {{ arturdoruch_list_pagination(pagination) }}
    </div>
</div>
