.ad-list__items-pagination-container {
    overflow: hidden;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 0;
}

.ad-list__items-container {
    float: left;
    line-height: normal;
}

.ad-list__items-container > div {
    display: inline-block;
    margin-right: 30px;
}

.ad-list__pagination-container {
    float: right;
}

.ad-list__pagination-container ul {
    margin: 0;
}

/* Sort link */
a.ad-list__sort-link {
    color: #1a69ca;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a.ad-list__sort-link.is-clicked::after {
    content: " ";
    position: absolute;
    right: -1.1em;
    top: 25%;
    margin-left: 0.3em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
}

a.ad-list__sort-link.is-clicked[data-order-direction="asc"]::after {
    border-top: 0.4em solid #1a69ca;
}

a.ad-list__sort-link.is-clicked[data-order-direction="desc"]::after {
    border-bottom: 0.4em solid #1a69ca;
}

/* Filter form */
.ad-list__filter-form-container {
    padding: 10px 15px;
    background-color: #f3f3f3;
    margin-bottom: 1.5em;
}

.ad-list__filter-form-fields .form-group {
    margin-bottom: 10px;
    margin-right: 7px;
    display: inline-block;
}

.ad-list__filter-form-fields .form-group label {
    margin: 0;
}

.ad-list__filter-form-fields .form-control {
    width: auto;
}

.ad-list__filter-form-buttons {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}